# Simple Recurrent Neural Network

## Import

In [14]:
df = pd.read_csv("raw_data/data.csv")

In [16]:
df.head()

,Unnamed: 0,Time,DFF,CPIAUCSL,CPILFESL,UNRATE,WTISPLC,INDPRO,MABMM301USM189S,A576RC1
0,0,1960-01-01,3.99,1.24095,2.00669,5.2,2.97,10.03675,NaN,7.05509
1,1,1960-02-01,3.97,1.41379,2.34114,4.8,2.97,6.96284,NaN,6.78233
2,2,1960-03-01,3.84,1.51881,2.00000,5.4,2.97,4.49722,NaN,5.93518
3,3,1960-04-01,3.92,1.93237,2.00000,5.2,2.97,1.50636,NaN,5.56845
4,4,1960-05-01,3.85,1.82507,1.66113,5.1,2.97,-0.11438,NaN,4.94632

In [22]:
df = df.drop("Unnamed: 0", axis = 1)

## Exploratory Data Analysis

In [23]:
df.describe()

,DFF,CPIAUCSL,CPILFESL,UNRATE,WTISPLC,INDPRO,MABMM301USM189S,A576RC1
count,757.000000,757.000000,757.000000,757.000000,757.000000,757.000000,744.000000,757.000000
mean,4.789736,3.769880,3.713922,5.949802,32.280452,2.552905,7.171975,6.210760
std,3.697640,2.844571,2.539275,1.683161,29.122856,4.828554,3.583807,3.214712
min,0.050000,-1.958760,0.602720,3.400000,2.920000,-17.018130,-1.314570,-5.860480
25%,1.820000,1.759500,1.987720,4.800000,11.160000,0.434140,5.165637,4.372760
50%,4.680000,3.004570,2.752290,5.700000,21.688000,2.894420,6.896930,6.008130
75%,6.580000,4.695920,4.732510,7.000000,47.020000,5.578500,8.478320,8.492850
max,19.100000,14.592270,13.604490,14.700000,133.930000,16.555750,26.887130,14.791160

In [25]:
df.dtypes

Time                object
DFF                float64
CPIAUCSL           float64
CPILFESL           float64
UNRATE             float64
WTISPLC            float64
INDPRO             float64
MABMM301USM189S    float64
A576RC1            float64
dtype: object

## Data preprocessing

In [26]:
#Check length of df bef

data.duplicated()ore changing anything
len(df)

757

In [29]:
#Check for duplicates
df.duplicated().sum()

0

In [31]:
#Detecting missing data (Counting the number of NaN for each column)
df.isnull().sum().sort_values(ascending=False)

MABMM301USM189S    13
Time                0
DFF                 0
CPIAUCSL            0
CPILFESL            0
UNRATE              0
WTISPLC             0
INDPRO              0
A576RC1             0
dtype: int64

In [ ]:
#Agreed strategy in the team:

In [ ]:
#Replace missing values
from sklearn.impute import SimpleImputer
# #Instantiate a SimpleImputer object with your strategy of choice
imputer = SimpleImputer(strategy="mean") 

##Call the "fit" method on the object
imputer.fit(data[['MABMM301USM189S']]) 

# Call the "transform" method on the object
data['MABMM301USM189S'] = imputer.transform(data[['MABMM301USM189S']]) 

# The mean is stored in the transformer's memory
imputer.statistics_